:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lato", "Abel";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    margin: 8px 0;
}

p {
    margin: 0;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    align-items: center;
    background-color: #106394;
    color: white;
    font-weight: 600;
}

.page_header {
    font-family: 'Abel';
    font-size: 35px;
    font-weight: 100;
    text-align: center;
}

@media only screen and (min-width: 857px) {
    .container_overview {
        display: grid;
        grid-template-columns: 20% 80%;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .img_overview {
        cursor: pointer;
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 856px) {
    .container_overview {
        display: grid;
        grid-template-columns: 35% 65%;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .img_overview {
        cursor: pointer;
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 593px) {
    .container_overview {
        display: grid;
        grid-template-columns: 100%;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .img_overview {
        display: none;
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width: 872px) {
    .container_details {
        display: grid;
        grid-template-columns: 70% 30%;
    }
    .img_details {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 871px) {
    .container_details {
        display: block;
    }
    .img_details {
        width: 100%;
        height: 100%;
    }
}

.header_details {
    display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 5rem;
}

.search_movies {
    width: 100%;
    border-radius: 25px;
    padding: 12px 20px 12px 40px;
    font-size: 20px;
    background-color: #EBEBEB;
}

.header_overview {
    background-color: #106394;
    height: 60px;
}

.movie_title {
    cursor: pointer;
    font-family: 'Abel';
    font-size: 200%;
    font-weight: 100;
    color: #01DCDD;
    text-align: left;
    padding: 20px;
}

.movie_title_details {
    font-family: 'Abel';
    font-size: 35px;
    font-weight: 100;
    color: #106193;
    text-align: left;
    padding: 30px;
}

.movie_overview {
    font-family: 'Lato';
    padding: 25px;
    font-size: 15px;
}

.movie_overview_details {
    font-family: 'Lato';
    padding: 25px 20px 25px 25px;
    font-size: 15px;
}

.movie_tags {
    border-radius: 25px;
    padding: 0px 5px 0px 5px;
    border: solid 2px #106193;
    width: max-content;
    text-align: center;
    font-family: 'Abel';
    background-color: white;
    display: inline;
    margin: 0 5px 0 5px;
}

.movie_rating {
    display: inline;
    border: 5px solid #01dcdd;
    padding: 20px 15px;
    font-family: 'abel';
    font-size: 24px;
    border-radius: 50%;
    background: #106394;
    color: #01dcdd;
    font-weight: lighter;
    outline: 3px solid #106394
}

.movie_release {
    font-family: 'Lato';
    padding: 5px 25px;
    font-size: 15px;
    font-weight: lighter;
}

.movie_release_details {
    font-family: 'Lato';
    padding: 30px;
    font-size: 15px;
    font-weight: lighter;
    text-align: right;
}

::placeholder {
    font-family: 'Abel';
    color: #1976d2;
    margin-top: 10px;
}

.img_overview {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.details_informations_headers {
    font-family: 'Abel';
    color: #1976d2;
    border-bottom: solid #01DCDD;
    padding: 25px 0px 10px 0px;
    font-size: 20px;
    margin: 0px 25px 0px 25px;
    border-width: 2px;
}

.details_informations {
    font-family: 'Abel';
    color: #1976d2;
    padding: 25px 0px 0px 0px;
    font-size: 18px;
    display: inline;
}

.details_informations_data {
    font-family: 'Abel';
    font-size: 12px;
    display: inline;
}

.display_informations {
    display: grid;
    grid-template-columns: 13.333% 13.333% 13.333% 20% 20% 20%;
    padding: 0px 0px 0px 15px;
    text-align: center;
}

.content {
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}

:host ::ng-deep.mat-paginator-page-size, .mat-paginator-page-size-label, .mat-paginator-page-size-label {
    display: none;
}

:host ::ng-deep.mat-paginator-container {
    justify-content: center;
    font-size: 20px;
}

:host ::ng-deep.mat-paginator-icon {
    width: 40px;
}