<div *ngIf="!movie_details">
    <div class="container_overview" *ngFor="let movie of movies;index as i">
      <div class="wrapper" (click)="getMovieById(movie.id)">
        <img class="img_overview" src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="">
      </div>
      <div style="background-color: #cccbca;">
        <div style="background-color: #106394; height: 60px;">
          <p class="movie_title">{{movie.title}}</p>
        </div>
        <div>
          <p class="movie_release">{{movie.release_date}}</p>
        </div>
        <div>
          <p class="movie_overview">{{movie.overview}}</p>
          <div style="padding: 25px;">
            <p class="movie_tags" *ngFor="let tag of movie.genre_ids;index as i">
              {{getGenreName(tag)}}
            </p>
          </div>
        </div>
      </div>
      <!-- <mat-paginator
      (page)="onPageChange($event)"
      [pageSize]="5"
      [length]="lenght">
  </mat-paginator> -->
    </div>
  </div>